 body { 
  background-image: url(../images/pizza-maker.jpg);
  background-size:cover ;
  }  
.jumbotron {
  background-image: url(../images/tentHeading.png);    
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: px;
}
.jumbotron h1 {
  padding-top: 50px;
}
#picture1 {  
  color: white;
  border: solid white 4px;
  background-image: url(../images/beefy.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
}
#picture2 {  
  color: white;
  border: solid white 4px;
  background-image: url(../images/chicken22.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
}
#picture3 {
  color: white;
  border: solid white 4px;
  background-image: url(../images/pepperoni.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
}