 body { 
  background-image: url(../images/material.jpg);
  background-size:cover ;
  }  
.jumbotron {
  background-image: url(../images/tentHeading.png);    
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: px;
}
.jumbotron h1 {
  padding-top: 50px;
  font-size: 60px;
  font-family: 'Gloria Hallelujah', sans-serif;
}
.jumbotron p {
  font-family: 'Orbitron',cursive;
}
#picture1 {  
  color: white;
  border: solid black 4px;
  background-image: url(../images/beefy.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
}
#picture2 {  
  color: white;
  border: solid black 4px;
  background-image: url(../images/chicken22.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
}
#picture3 {
  color: white;
  border: solid black 4px;
  background-image: url(../images/pepperoni.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
}
.order {  
  background-image: url(../images/pizza-maker.jpg); 
  background-size: cover; 
  background-position-y: 750px;
  height: 550px;
  border: solid black 4px;
}
.align  {
  text-align: center;
}
.delivery {
  display: none;
  color: whitesmoke;
  padding-left: 10px;
}
.menu {
  font-weight: 700;
  font-family: 'Gloria Hallelujah', sans-serif ;
}
.order {
  font-family: 'Special Elite',cursive;
}
.finalTotal{
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  font-weight: 900;
  display: none;  
}
.confirmButton {
  text-align: center;
}
#yourOrder, #yourTotal {
  color: whitesmoke;
  font-size: 23px;
}
#finalTotal {
  background-color: tomato;
}
#pizzaName {
  font-size: 30px;
}
#picture2 {
  color: black;
}